<table class="teble p-1">
  <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to (comment.user) do %>
          <%= image_tag comment.user.get_profile_image, size: "40x40" %><br>
          <%= comment.user.name %>
        <% end %>
      </td>
      <td style="word-break: break-word">
        <%= comment.body %>
      </td>
      <td>
        <%= link_to "削除", destroy_modal_admin_comment_path(comment.id), method: :delete, class: "btn btn-danger btn-sm", remote: true, 'data-confirm' => "本当に削除しますか？" %>
      </td>
    </tr>
  <% end %>
</table>