<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="card w-70 mt-4 shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-11">
              <%= link_to admin_user_path(@post.user) do %>
                <%= image_tag @post.user.get_profile_image %><%= @post.user.name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag @post.get_post_image %>
            </div>
            <div class="col-md-7 offset-1">
              <%= @post.body %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>カテゴリ：<%= @post.category_i18n %></p>
            </div>
            <div class="col-md-4">
              <p>お子様：<%= @post.child.nickname %></p>
            </div>
            <div class="col-md-4">
              <p>いいね：<%= @post.favorites.count %> 件</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <p>コメント:</p>
              <% @comments.each do |comment| %>
                <tr>
                  <td>
                    <%= link_to admin_user_path(comment.user) do %>
                      <%= image_tag comment.user.get_profile_image, size:"50x50" %><br>
                      <%= comment.user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= comment.body %>
                  </td>
                  <td>
                    <%= link_to "Destroy", admin_comment_path(comment.id), method: :delete, class: "btn btn-danger", remote: true %>
                  </td>
                </tr>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
