<div class="row ml-2 justify-content-center">
  <h4>新規投稿</h4>
</div>
<div class="row ml-2 justify-content-center">
  <%= form_with model: post do |f| %>
    <%= render "layouts/errors", obj: f.object %>

    <div class="form-group mt-2">
      <%#= f.label :body %>
      <%= f.text_area :body, :size=>"30x6", placeholder:"今日のお子様の様子は？" %>
    </div>

    <div class="form-group">
      <%= f.label :category, "カテゴリ" %>
      <%= f.select :category,
                  Post.categories.keys.map { |k| [I18n.t("enums.post.category.#{k}"), k] },
                  { selected: "everyday" } %>
    </div>

    <div class="form-group">
      <%= f.label :child_id, "お子様タグ（任意）" %>
      <%= f.collection_select :child_id,
                             current_user.children, :id, :nickname,
                             include_blank: "タグなし" %>
    </div>

    <div class="form-group text-center">
      <%= f.label :post_image, raw("<i class='fa-solid fa-camera'></i> 画像を追加"), class: "image_input_btn" %>
      <%= f.file_field :post_image, accept: "image/*", class: "image_form" %>
    </div>

    <div class="form-group text-center">
      <!--simple_calendar用の日付カラムstart_timeに投稿日時を保存する-->
      <%= f.hidden_field :start_time, value: Time.zone.now %>
      <%= f.submit "投稿する", class: "btn btn-info" %>
    </div>

  <% end %>
</div>