<!--モーダルウィンドウ用-->
<div id="mask" class="hidden"></div>
<div id="modal" class="hidden"></div>

<div class="row row-cols-md-2">
  <% if posts.exists? %>
    <% posts.each do |post| %>
      <div class="col mb-4 d-flex justify-content-center">
        <div class="card mt-3 shadow" style="width: 500px;">
          <div class="row g-0">
            <div class="col-md-4">
              <%= link_to post_path(post.id), remote: true do %>
                <%= image_tag post.get_post_image, class: "img-fluid rounded-start" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to user_path(post.user) do%>
                    <%= image_tag post.user.get_profile_image, size: "40x40", class: "rounded-circle"; %>
                    <%= post.user.name %>
                  <% end %>
                </h5>
                <p class="card-text"><%= post.body.truncate(100) %></p>
              </div>
            </div>
          </div>
          <p class="card-text">
            <small class="text-body-secondary">
              <table class="table table-borderless px-1">
                <tr>
                  <td class="post-sub-text">投稿日：'<%= post.created_at.strftime('%y/%m/%d') %></td>
                  <td class="post-sub-text">カテゴリ：<%= post.category_i18n %></td>
                  <td class="post-sub-text">
                    <% if post.child.present? %>
                      お子様：<%= post.child.nickname %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td id="favorite_buttons_<%= post.id %>">
                    <%= render "public/favorites/favorite", post: post %>
                  </td>
                  <td>
                    <p class="post-sub-text">
                      <%= link_to post_path(post.id), remote: true do %>
                        コメント（<span id="comment_count_<%= post.id %>"><%= post.comments.count %></span>）
                      <% end %>
                    </p>
                  </td>
                  <td class="post-sub-text">
                    <% if post.user == current_user %>
                      <%= link_to "編集", edit_post_path(post.id), class: "btn btn-warning btn-sm" %>
                      <%= link_to "削除", post_path(post.id), method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "本当に削除しますか？" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </small>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <h5 class="text-center mt-5">投稿はありません</h5>
  <% end %>
</div>
<div class="row">
  <%= paginate posts %>
</div>