<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 mx-auto py-3">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag post.get_post_image, class: "show-image-size" %>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-8">
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image, :size =>"80x80", class: "rounded-circle"; %><%= user.name %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 my-4">
              <%= post.body %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-3">
              投稿日：'<%= post.created_at.strftime('%y/%m/%d') %>
            </div>

            <div class="col-md-3">
              <p>カテゴリ：<%= post.category_i18n %></p>
            </div>

            <% if post.child.present? %>
              <div class="col-md-3">
                <p>お子様：<%= post.child.nickname %></p>
              </div>
            <% end %>

            <div class="col-md-3">
              <span id="favorite_buttons_<%= post.id %>_modal">
                <%= render "public/favorites/favorite", post: @post %>
              </span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-11">
              <p>コメント <i class="fa-solid fa-comment"></i>：</p>
              <div id="post-comments">
                <%= render "public/comments/comments", post: @post %>
              </div>

              <div id="comment-form">
                <%= render "public/comments/form", post: @post, comment: @comment %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>