<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3" style="min-height:100vh" >
      <%= render 'layouts/form', post: @post %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="row">
        <% if @model == 'user' %>
          <h3>"<%= @key_word %>" のユーザー検索結果</h3>
          <%= render 'user_index', users: @records %>

        <% elsif @model == 'post' %>
          <h3>"<%= @key_word %>" の投稿検索結果</h3>
          <%= render 'layouts/post_index', posts: @records %>
        <% end %>
      </div>
    </div>
  </div>
</div>