<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="w-100">
        <div class="row justify-content-center">
          <div class="main-title mb-3">
            <h1><strong>てて つなご とは</strong></h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="sub-text text-center">
            <p>
              お子様が初めて立ったときのことを覚えていますか？<br>

              初めて歩いたときのことは？<br><br>

              では、ハイハイをしなくなったのはいつですか？<br><br>

              てて つなご とは、<br>
              子育てに忙しい保護者の皆様が "つながって"<br>
              こどもたちの成長を見守るためのSNSです<br><br>

              あっという間に成長するこどもたちの「日常」と、<br>
              「できた」こと、「卒業」したことを書き残してみませんか<br><br>

              ちょっと疲れたら投稿を振り返り、懐かしんでみてください<br>
              そして、誰かの「できた」「卒業」もちろん「日常」にも、<br>
              おめでとうの気持ちのいいね<%= image_tag('favorited.png', style: "max-width: 30px; min-height: 30px;") %>を贈ってみてくださいね<br><br>
            </p>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="row justify-content-center">
            <%= link_to "マイページへ", user_path(current_user), class: "btn btn-info" %>
          </div>
        <% else %>
          <div class="row justify-content-center">
            <div class="button-wrap">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning" %>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success ml-3" %>
              <%= link_to "Topに戻る", root_path, class: "btn btn-danger ml-3" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="button-wrap mt-3">
              <%= link_to "ゲストログイン(お試し用)", users_guest_sign_in_path, method: :post, class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 px-0">
      <div class="main-visual"></div>
    </div>
  </div>
</div>