<div class="container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3" style="min-height:100vh" >
      <%= render "public/posts/form", post: @post %>

      <div class="menu mt-4">
        <button type="button" class="btn btn-info btn-block"
                data-toggle="collapse" data-target="#collapseChildren"
                aria-expanded="false" aria-controls="collapseChildren">
          お子様情報
        </button>
        <div class="collapse" id="collapseChildren">
          <div class="card card-body">
            <% if @user.children.any? %>
              <ul>
                <% @user.children.each do |child| %>
                  <li>
                    ・<%= child.nickname %> <%= link_to "投稿を見る", child_posts_path(child) %>
                    <% if current_user == @user %>
                      <%= link_to "（ニックネーム編集）", edit_child_path(child) %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>登録されていません</p>
            <% end %>
            <% if current_user == @user %>
              <%= link_to "お子様情報登録", new_child_path, class: "btn btn-info btn-sm" %>
            <% end %>
          </div>
        </div>
  
        <button type="button" class="btn btn-info btn-block mt-2"
                data-toggle="collapse" data-target="#collapseSearch"
                aria-expanded="false" aria-controls="collapseSearch">
          検索
        </button>
        <div class="collapse" id="collapseSearch">
          <div class="card card-body">
            <%= render "public/searches/form" %>
          </div>
        </div>
      </div>
    </div>
    
    <!--メイン-->
    <div class="col-md-8 offset-md-1">
      <div class="col-md-12">
        <h3><%= @child.nickname %> についての投稿</h3>
        <div class="row mt-4">
          <div class="col-md-12">
            <%= render "public/posts/index", posts: @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>