<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-10">
      <% if @model == 'user' %>
        <h3>"<%= @keyword %>" のユーザー検索結果</h3>
        <%= render 'public/searches/user_index', users: @records %>

      <% elsif @model == 'comment' %>
        <h3>"<%= @keyword %>" のコメント検索結果</h3>
        <%= render 'admin/comments/index', comments: @records %>
        
      <% elsif %>
        <h3>"<%= @keyword %>" の投稿検索結果</h3>
        <%= render 'admin/posts/index', posts: @records %>
      <% end %>
    </div>
  </div>
</div>
