<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 mx-auto py-3">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag post.get_post_image, class: "show-image-size" %>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-8">
              <%= link_to admin_user_path(user) do %>
                <%= image_tag user.get_profile_image, :size =>"80x80", class: "rounded-circle"; %><%= user.name %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to "投稿を削除", admin_post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <%= post.body %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <p class="modal-sub-text">投稿日：'<%= post.created_at.strftime('%y/%m/%d') %></p>
            </div>
            <div class="col-md-3">
              <p class="modal-sub-text">カテゴリ：<%= post.category_i18n %></p>
            </div>
            <div class="col-md-3">
              <% if post.child.present? %>
                <p class="modal-sub-text">お子様：<%= post.child.nickname %></p>
              <% end %>
            </div>
            <div class="col-md-3">
              <p class="modal-sub-text">
                いいね（<%= post.favorites.count %>）
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-11">
              <p>コメント:</p>
              <div id="post-comments">
                <%= render "admin/comments/comments", post: @post %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>