<h1>Public::Children#new(お子様情報登録画面)</h1>
<p>Find me in app/views/public/children/new.html.erb</p>

<%= form_with model: @child do |f| %>

  <div>
    <%= f.label :nickname, "ニックネーム" %>
    <%= f.text_field :nickname %>

    <%= f.label :birthday, "生年月日（任意）" %>
    <%= f.date_field :sample_at %>

    <%= f.submit "登録" %>
  </div>

<% end %>