<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="d-flex align-items-center flex-column">
        <h3>会員情報編集</h3>
        <div class="form mt-3 w-100">
          <%= form_with model: @user, url: admin_user_path, local:true do |f| %>
            <%= render "layouts/errors", obj: f.object %>
            
            <div class="form-group">
              <p>プロフィール画像</p>
              <%= image_tag @user.get_profile_image, size: "50x50" %>
            </div>
            
            <div class="form-group">
              <%= f.label :name, "名前" %>
              <%= f.text_field :name, class: "form-control name" %>
            </div>
            
            <div class="form-group">
              <%= f.label :introduction, "自己紹介" %>
              <%= f.text_area :introduction, placeholder: "自己紹介文", rows: 5, class: "form-control introduction" %>
            </div>
            
            <div class="form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.text_field :email, placeholder: "メールアドレスは空欄にできません", class: "form-control email" %>
            </div>
            
            <div>
              <p>公開ステータス（変更できません）</p>
              <% if @user.is_public == true %>
                <span class="text-success">公開</span>
              <% else %>
                <span class="text-danger">非公開</span>
              <% end %>
            </div>
            
            <div class="checkbox mt-3">
              <p>会員ステータス</p>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active_true, "有効" %>
    
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active_false, "退会" %>
            </div>
            
            <div class="form-group text-center">
              <%= f.submit "保存", class: "btn btn-success" %>
            </div>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
