<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3" style="min-height:100vh" >
      <%= render 'layouts/form', post: @post %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag @user.get_profile_image %><!--サイズ指定-->
          <%= @user.name %>
          <%= @user.introduction %>
          <%= link_to "いいねした投稿一覧", favorites_user_path(@user) %>
          <div class='row'>
            <% if current_user != @user %>
              <% if current_user.following?(@user) %>
                <%= link_to "フォローを外す", relationship_path(@user), method: :delete, class: "btn btn-info" %>
              <% else %>
                <%= link_to "フォローする", relationship_path(@user), method: :post, class: "btn btn-success" %>
              <% end %>
            <% else %>
              <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
                <i class="fas fa-user-cog"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <h2>こどもたち:</h2>
          <% if @user.children.any? %>
            <ul>
              <% @user.children.each do |child| %>
                <li><%= child.nickname %></li>
                <%= link_to "編集", edit_child_path(child) %>
              <% end %>
            </ul>
          <% else %>
            <p>登録されていません</p>
          <% end %>
          <%= link_to "新規登録", new_child_path %>
        </div>
      </div>
      <div class="col-md-12">
        <%= render 'layouts/post_index', posts: @posts %>
      </div>
    </div>
  </div>
</div>