<div class="card w-50 mt-4 shadow-lg">

  <% posts.each do |post| %>
    <div class="post_card">
      <%= image_tag post.get_post_image %>
      <%= post.body %>
      <%= post.category_i18n %>
      <% if post.child.present? %>
        <%= post.child.nickname %>
      <% end %>
      <%= link_to "詳しく見る", post_path(post.id) %>
      <% if post.user == current_user %>
        <%= link_to "編集", edit_post_path(post.id) %>
        <%= link_to "削除", post_path(post.id), method: :delete, 'data-confirm' => "本当に削除しますか？" %>
      <% end %>
    </div>
  <% end %>

</div>